@model List<ResultDrinkDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>İçecek Tablosu</h5>
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İçecek</th>
                            <th>Fiyat</th>
                            <th>Resim</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DrinkId</td>
                                <td>@item.DrinkName</td>
                                <td>@item.DrinkPrice ₺</td>
                                <td>@item.DrinkImageUrl</td>
                                <td><a asp-area="Admin" asp-controller="Drink" asp-action="DeleteDrink" asp-route-id="@item.DrinkId" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-warning">Güncelle</a></td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
                <br />
                <a href="/Admin/Drink/CreateDrink/" class="btn btn-dark">Ekle</a>
            </div>
        </div>
    </div>
</div>


